{
    "rules": {
        "padded-blocks": 0,
        "no-underscore-dangle": 0,
        "newline-after-var": 0,
        "one-var": 0,
        "prefer-arrow-callback": 0,
        "prefer-template": 0,
        "max-len": 0,
        "no-param-reassign": 0,
        "no-nested-ternary": 0,
        "no-invalid-this": 0,
        "guard-for-in": 0,
        "no-loop-func": 0
    }
}
