:local(.header) {
    margin-bottom: 10px;
    font-size: 13px;
}

:local(.note) {
    color: $gFontColorAttention;
    padding: 10px 10px;
    background-color: $gActionBackgroundWarning;
    margin-bottom: 5px;
}

:local(.error) {
    color: $gMessageColorError;
    padding: 10px 10px;
    background-color: $gBackgroundDefault;
    margin-bottom: 5px;
}

:local(.buttons) {
    margin-left: 8px;
    margin-top: 10px;
}
