:local(.block) {
    display: flex;
    align-items: center;
}

:local(.block) > input {
    position: relative;
    z-index: 100000;
    flex: 1 1 auto;
    border: 1px solid #acb6bf;
    box-shadow: none;
}

:local(.block) > button {
    flex: 0 0 auto;
}
