:local(.block) .markdown-editor {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

:local(.block) .markdown-editor textarea {
    flex-grow: 1;
}

:local(.block).tau-error .markdown-editor textarea {
    border-color: #f66;
    color: #f66;
}
